<div class="container-fluid landing-page" *ngIf=!globals.searchLoaded>

    <div class="row">
        <h3 style="background:#eee;height:80px;line-height:80px;color:#444;margin-bottom:100px">What we do!</h3>
        <div class="col-sm-6 col-md-2 col-md-offset-3">
            <div class="thumbnail">
                <img src="../../assets/Translation-Services.jpg" alt="..." img-responsive>
                <div class="caption">
                    <h4>Translation Service</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="../../assets/detect.jpeg" alt="..." img-responsive>
                <div class="caption">
                    <h4>Detect Language</h4>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="../../assets/phonetic.png" alt="..." img-responsive>
                <div class="caption">
                    <h4>Phonetic Transcription</h4>
                </div>
            </div>
        </div>
    </div>
</div>